.header {
    background-color: #FFF9DB;
    display: flex;
    flex-direction: column;
}

.header .bottom {
    padding: 10px;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-radius: 10px;
    outline: 1px solid #d14623;
    overflow: hidden;
}

.header li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    outline: 1px #d14623 solid;
}

.header li:hover {
    cursor: pointer;
    background-color: #FFF9DB;
}

.header p {
    font-size: 1.3vw;
}

.header .active {
    color: #9775fa;
}

.header .inactive {
    color: #D14623;
}

.header .upper {
    width: 100%;
    position: relative;
    overflow-y: hidden;
    padding: 10px;
}

.header .upper .background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header .upper .background img {
    width: 100%;
    object-fit: cover;
}

.header .upper .logo {
    height: 5vw;
    width : 5vw;
    position: relative;
    z-index: 1;
}

.header .upper .logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: #FFF9DB;
    border-radius: 100%;
}