.header {
    background-color: #FFF9DB;
    height: 10vh;
}

.header ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.header li {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li:hover {
    cursor: pointer;
    background-color: #FFF9DB;
}

.header p {
    font-size: 1.3vw;
}

.header .active {
    color: #9775fa;
}

.header .inactive {
    color: #D14623;
}