.header {
    background-color: #FFF9DB;
    height: 10vh;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li:hover {
    cursor: pointer;
    background-color: #FFF9DB;
}

.header p {
    font-size: 1.3vw;
}

.header .active {
    color: #9775fa;
}

.header .inactive {
    color: #D14623;
}